{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block hero_unit %}
<div class="jumbotron page__hero-unit">
    <h1>Welcome!</h1>
    <h2>Symfony2 Content Management Framework</h2>
</div>
{% endblock %}

{% block main %}
    <div class="row">
        blabla
        blabla
    </div>
{% endblock %}
